  
  
  <!-- about  -->
    <section class="about-section">
        <div class="row">
            <div class="col-sm-4" style="padding-top: 3em;">
                <div class="card">
                    <img src="/t2c/images/icons/1.png" class="img-fluid mx-auto d-block" width="280px" height="20px" alt="...">
                  </div>
            </div>
            <div class="col sm-8">
                <div class="card" style="padding: 35px;">
                  <div class="card-body">
                    <h2 class="card-title" style="color: #2E3192;">ACERCA DE</h2 >
                    <p class="card-text">Talks 2 Code es una serie de pláticas técnicas impartidas por empresas acreditadas como Best Place to Code. En Talks 2 Code, el enfoque de las pláticas será de contenidos técnicos y mejores prácticas en el desarrollo de software aplicadas en las mejores empresas para codear.</p>
                  </div>
                </div>
            </div>
        </div>
    </section>
    


  <!-- /about -->