<!-- Event Info -->

<section class="event_info">

<div class="container">
  <div class="previous-talks border-talks" >
    <div class="row">
      <div class="col-sm-8" style="padding-top: 3em;">
        <div class="card" style="background-color: transparent; border-color: white; padding: 25px; border-radius: 15px; border-width: 4px;">
          <div class="card-body">
            <h2 class="event_info_title">Talks 2 Code 2023</h2>
            <p class="card-text event_info_title">Las mejores prácticas de los BP2C para desarrollar software</p>
            <p class="card-text event_info_title">30 de agosto | Evento Online | Gratuito</p>
            <a href="/t2c/ediciones-anteriores" class="btn" style="background-color: transparent; border-color: white; border-radius: 10%; color: white;">EDICIONES ANTERIORES</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card logo-gato" style="background-color: transparent; border: none; ">
          <div class="card-body">
            <img src="/t2c/images/icons/2.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="beneficios">

    <div class="row">

      <div class="col-sm-4">
        <div class="card" style="background-color: transparent; border: none;">
          <div class="card-body">
            <h3 class="event_info_title">Participando podrás:</h3>
            
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="card" style="background-color: transparent; border-color: white; padding: 25px; border-radius: 15px; border-width: 4px;">
          <div class="card-body-info">
            <li>Descubrir las mejores prácticas que aplican los BP2C para desarrollar software.</li>
            <li>Estar en comunicación directa con los representantes de las BP2C</li>
            <li>Conocer las vacantes a las que puedes aplicar.</li>
            <li>Conocer las vacantes a las que puedes aplicar.</li>
            <li>Unirte a la conversación para resolver dudas o intercambiar puntos de vista con colegas.</li>
          </div>
        </div>
      </div>

    </div>
    <br><br><br>
  </div>
</div>

<!-- Videos -->

<section class="section-sponsors section" style="margin-top: -65px;">
  <br>
  <div class="container">
    <center>
      <h1 style="color: white;">Conoce algunas de las sesiones anteriores</h1>
    </center>
    <br><br>

    <div class="card-deck">
      <div class="card" style="border: none;">
       
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rfE2KX3-M5A" allowfullscreen></iframe>
          </div>

      </div>
      <div class="card" style="border: none;">
       
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LALDADJhv3g" allowfullscreen></iframe>
        </div>

    </div>
    <div class="card" style="border: none;">
       
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Yw66ACgoQg4" allowfullscreen></iframe>
      </div>

  </div>
    </div>
  </div>
</section>

<!-- /Videos -->


</section>


<!-- /Event Info -->