<!-- Event Info -->

<section class="event_info">

<div class="container">
  <div class="previous-talks border-talks" >
    <div class="row">
      <div class="col-sm-8" style="padding-top: 3em;">
        <div class="card" style="background-color: transparent; border-color: white; padding: 25px; border-radius: 15px; border-width: 4px;">
          <div class="card-body">
            <h2 class="event_info_title">¿Por qué participar?</h2>

            <p class="card-text event_info_title">Talks 2 Code es el punto de encuentro para quienes les apasiona el desarrollo de software así como profesionales de TI, donde pueden encontrar un espacio de aprendizaje, colaboración, crecimiento y de oportunidades laborales de la mano de las empresas acreditadas como Best Place To Code.</p>

            <p class="card-text event_info_title">Participando en Talks 2 Code podrás:</p>

            <div class="card-body-info">
            <li>Disfrutar charlas y presentaciones de expertos y profesionales destacados.</li>
            <li>Ampliar tus conocimientos técnicos.</li>
            <li>Explorar las últimas tendencias y tecnologías que utilizan las Best Place To Code.</li>
            <li>Adquirir nuevas habilidades, profundizar en áreas de interés y mantenerte al día.</li>
            <li>Oportunidades de empleo y reclutamiento directamente con las mejores empresas para trabajar en la industria.</li>
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card logo-gato" style="background-color: transparent; border: none; ">
          <div class="card-body card-body-img">
            <img src="/t2c/images/icons/2.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>

  <div class="beneficios">

    <div class="row">

      <div class="col-sm-4">
        <div class="card" style="background-color: transparent; border: none;">
          <div class="card-body">
            <h3 class="event_info_title"></h3>
            
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="card" style="background-color: transparent; border-color: white; padding: 25px; border-radius: 15px; border-width: 4px;">

          <h2 class="event_info_title">Beneficios adicionales.</h2>

          <p class="card-text event_info_title">En Talks 2 Code puedes experimentar una increíble combinación de aprendizaje, networking y oportunidades de carrera en las mejores empresas para trabajar en TI. Estos son algunos beneficios adicionales que puedes obtener, además de descubrir las mejores prácticas que aplican los Best Place To Code para desarrollar software.</p>

          <div class="card-body-info">
            <li>Estar en comunicación directa con los representantes de las mejores empresas para codear.</li>
            <li>Conocer las oportunidades de carrera a las que puedes aplicar.</li>
            <li> Ampliar tu red de contactos y conectarte con más coders.</li>
            <li>Unirte a la conversación para resolver dudas o intercambiar puntos de vista más devs.</li>
          </div>
        </div>
      </div>

    </div>
    <br>
<center>
    <a href="/t2c/registro" style="background-color: #00B1E1; color: white;" class="btn btn-banner1 mt-3 ml-3">¡RESERVA TU LUGAR!</a>
  </center>
    <br><br><br>


  </div>
</div>

<!-- Videos -->

<section class="section-sponsors section" style="margin-top: -65px;">
  <br>
  <div class="container">
    <center>
      <h1 style="color: white;">Conoce algunas de las sesiones anteriores</h1>
    </center>
    <br><br>

    <div class="card-deck">
      <div class="card" style="border: none;">
       
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rfE2KX3-M5A" allowfullscreen></iframe>
          </div>

      </div>
      <div class="card" style="border: none;">
       
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LALDADJhv3g" allowfullscreen></iframe>
        </div>

    </div>
    <div class="card" style="border: none;">
       
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Yw66ACgoQg4" allowfullscreen></iframe>
      </div>

  </div>
    </div>
  </div>
</section>

<!-- /Videos -->


</section>


<!-- /Event Info -->