<footer class="section footer event_info">
	<div class="container">
		<div class="row">
			<div class="col">
				<div>
					<img src="/t2c/images/Logo-T2C.png" width="230px" alt="">
				</div>	
			</div>
			<div class="col">
				<div>
					<ul class="list-inline footer-socials">  
						{{ range .Site.Params.social }}
						<li class="list-inline-item"><a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}" style="color: white;"></i></a></li>
						{{ end }}
					</ul>
				</div>
			</div>
			<div class="col">
				<div>
					<a href="https://bestplacetocode.com/es/events/coc">
						<h5 style="color: white;">Código de conducta</h5>
					</a>
					<a href="/t2c/media-kit">
						<h5 style="color: white;">Media Kit</h5>
					</a>
				</div>
			</div>
			<div class="col">

				<div>
					<a href="https://bestplacetocode.com/es/about/contacto">
						<h5 style="color: white;">Contáctanos</h5>
						<ul class="footer_links">
							{{ range .Site.Params.footer_contact_us }}
							<li><a target="_blank" href="{{ .link | safeURL }}">
								<h6 style="color: white;">{{ .name }}</h6></a></li>
							{{ end }}
						</ul>
					</a>
					
			</div>
			</div>
			<div class="col">
					
		{{ with .Site.Params.disclaimer }}
		<div class="disclaimer" style="color: white;">
			{{ . }}  
		</div>			
        {{ end }}
			</div>
		  </div>
		<div class="footer-strip">
			


	</div>
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | relURL }}"></script>
{{ end }}


<!-- Twitter universal website tag code -->
<script>
	!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
	},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
	a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
	twq('init','o9n15');
	twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}
