<!-- hero -->

<section class="section banner"> 
    <div class="container">
      <div class="hero-info" style="margin-top: -160px;">
        <div class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <img src="/t2c/images/Logo-BP2C.png" class="img-fluid" width="290px" alt=""></div>

          <div class="p-2 bd-highlight">
            <img src="/t2c/images/Logo-T2C.png" class="img-fluid" width="490px" alt="">
          </div>


          <div class="">
            <h3 class="tagline" style="color: white;">LAS MEJORES PRÁCTICAS DE LOS BP2C PARA DESARROLLAR SOFTWARE</h3>
          </div>
            <h3 style="color: white;">30 de Agosto de 2023</h3>
            <H3 style="color: white;">EVENTO ONLINE Y PRESENCIAL</H3>
        </div>
        
        
      </div>
    </div>
  </section>

<!-- /hero -->



